<div>
    <h1>Detalle del producto</h1>

    <div class="carts">
        <div class="cartProduct">
            <h3>{{data.title}}</h3>
            <p>
                {{data.description}} <br>
                precio ${{data.price}}
            </p>

            <form action="/api/carts/addProduct" method="post">
                <input type="hidden" name="product" value={{data._id}}>
                <h3>cantidad</h3>
                <input type="number" name="qty" value=1 min="1" required="required">
                <button type="submit">Agregar al carrito</button>

            </form>
        </div>
    </div>


    {{#if deleteAuth}}
    <button class="buttonPages" id="delete" value="{{data._id}}">eliminar producto</button>
    {{/if}}
</div>



<script type="module">

    const button = document.getElementById("delete")

    button.addEventListener("click", () => {
        //aca deberia ejecutar lo que se encuentra en productsRoutes.js
        //return fetch(`http://localhost:8080/api/products/${button.value}`, { method: 'DELETE'})
        //.then(response => console.log(response.json()))
        //.then(response => response.json())

        return fetch(`http://localhost:8080/api/products/${button.value}`, { method: "DELETE" })
        .then(response => { if (!response.ok) { 
            thrownewError(`Error al eliminar el producto: ${response.statusText}`); 
            } 
            return response.json(); })
        .then(data => { console.log(`product delete:`, data)});
    })
</script>